<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1017723072464-97kgk1kvbqb20ujvr9okmdh36g6ptk3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017723072464-97kgk1kvbqb20ujvr9okmdh36g6ptk3d</string>
	<key>API_KEY</key>
	<string>AIzaSyDWoYBoFyWHYhjTXjp2kmRY6Q9Nh3fDyHM</string>
	<key>GCM_SENDER_ID</key>
	<string>1017723072464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dno.SwiftChat</string>
	<key>PROJECT_ID</key>
	<string>swiftchat-91f88</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftchat-91f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017723072464:ios:3f52af0d68ec3d24</string>
	<key>DATABASE_URL</key>
	<string>https://swiftchat-91f88.firebaseio.com</string>
</dict>
</plist>